* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: white;
}

.App,
.home {
  text-align: center;
  padding: 2em;

}

.App-logo {
  /* margin-top: 20px; */
  border-radius: 50%;
  height: 185px;
  pointer-events: none;
  width: 210px;
  margin-bottom: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header,
.home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 2%;
  font-size: 30px;
}

.mailList {
  list-style: none;
  border-bottom: 2px solid gold;
  /* padding-top: 0.2em;
  padding-bottom: 0.2em; */
  overflow: hidden;
}


.mailList p {
  max-height: 2em;
  /* border: 1px solid magenta; */
  width: 200%;
  display: flex;
  justify-content: flex-start;
}

.loginButton {
  background-color: rgb(238, 194, 47);
  font-size: 20px;
  width: 100px;
  margin-top: 2em;
  padding: 1em;
  border-radius: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(165, 42, 42, 0.612);
  font-weight: bolder;
  margin-bottom: 2em;
}

.container {
  position: relative;
  border: 2px solid gold;
  height: 400px;
  width: 80vw;
  display: flex;
  flex-direction: row;
}

.bold {
  font-weight: bolder;
  color: gold;
}

.container .sidebar {
  border: 2px solid gold;
  height: 100%;
  width: 35%;
  text-align: start;
  overflow:auto;
}

.sidebar li {
  padding-left: 5%;
}

.sidebar li:hover {
  cursor: pointer;
  color: rgb(223, 203, 124);
  font-size: bolder;
}

.newMail {
  padding: 0.6%;
}

.newMail:hover {
cursor: pointer;
font-weight: bolder;
/* color: gold;
font-size: 1em;
background-color: brown; */
}

.container .rightside {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow: hidden; */
  overflow: auto;
}

.container .mailview {
  text-align: start;
  padding: 5%;

}

.booking {
  width: 100%;
height: auto;
}

.subject {
  width: 100%;
  border-bottom: 2px solid gold;
}

.navigationBar {
  /* position: fixed; */
  border-bottom: 2px solid gold;
  min-height: 30%;
  display: flex;

  /* justify-content: space-evenly; */
  align-items: center;
}

.navigationBar div {
  display: flex;
  /* border: 2px solid magenta; */
  /* overflow: hidden; */
  flex-direction: column;
  font-size: 12px;
  /* align-items: center; */
  justify-self: center;
  /* text-align: start; */
  width: 25%;
  height: 75%;
   flex-wrap: wrap;
  /*align-items: flex-start; */
  padding: 1% 1% 1% 2% ;
}

.navbar-br {
  margin-bottom: 2%;
}

.border-right {
  border-right: 1px solid gold;
}

.navigationBar div span {
  letter-spacing: 1px;
  font-weight: bolder;
  margin-right: 2%;
}

.menu {
  /* border: 2px solid gold; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

.menu div {
  margin: 1%;
  padding: 1%;
}

.spinner {
  height: 50px;
  width: auto;
}

.register {
  width: 100%;
  /* border: 2px solid magenta; */
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  color: rgb(238, 194, 47);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 1em;
}

.loggedOut  {
  color: yellow;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .loggedOutGeneral {
  border: 2px solid gold;
} */

.logoutButton {
  padding: 0.5em;
}

.register p:hover,
.loginButton:hover,
.menu div:hover,
.logoutButton:hover {
  font-weight: bolder;
  cursor: pointer;
}

.chosenData7 {
  text-decoration: underline;
}

h1 {
  font-size: 20px;
  color: gold;
  letter-spacing: 2px;
  margin-top: -2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
